
<header>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
              <li ng-show="purchase.length"><a ng-click="confirmPurchase()" data-toggle="modal" data-target="#basketModal"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span class="badge">{{basket.items.length}}</span></a></li>
              <li><a data-toggle="modal" data-target="#subscribeModal">{{titles.header.subscribe[lang]}}</a></li>
              <li><a data-toggle="modal" data-target="#loginModal">{{titles.header.login[lang]}}</a></li>
              <li><a ng-click="changeLanguage()">{{titles.header.languages[lang]}}</a></li>
            </ul>
          </div>
        </div>
      </nav>
</header>
